//fonts
$font-brand: 'Roboto', sans-serif;

//colors
$color--main__white: #ffffff;
$color--main__black: #000000;
$color--main__grey: #EFEFEF;

//brand
$color--brand__pebble: #5C686D;
$color--brand__sand: #FEDF3B;
$color--brand__wave: #3EA7DD;
$color--brand__spray: #63F2CB;
$color--brand__sun: #F5B146;
$color--brand__tide: #8ACBEB;
$color--brand__wash: #9FF7DF;
$color--brand__set: #F09329;
$color--brand__ocean: #1D70B7;
$color--brand__lagoon: #4DDCD9;